{% extends 'common/layout_main.html' %}
{% block pcoded %}
    <nav class="pcoded-navbar">
        <div class="navbar-wrapper">
            <div class="navbar-brand header-logo">
                <a href="index.html" class="b-brand">
                    <span class="b-title">后台管理系统</span>
                </a>
                <a class="mobile-menu" id="mobile-collapse" href="javascript:"><span></span></a>
            </div>
            <div class="navbar-content scroll-div">
                <ul class="nav pcoded-inner-navbar">
                    <li class="nav-item pcoded-menu-caption">
                        <label>管理员</label>
                    </li>
                    <li data-username="dashboard Default Ecommerce CRM Analytics Crypto Project"
                        class="nav-item pcoded-hasmenu active pcoded-trigger">
                        <a href="javascript:" class="nav-link"><span class="pcoded-micon"><i
                                class="feather icon-home"></i></span><span class="pcoded-mtext">管理员操作</span></a>
                        <ul class="pcoded-submenu">

                            <li class=""><a href="{{ buildUrl('/admin/report') }}" class="">报表统计</a></li>
                            <li class=""><a href="{{ buildUrl('/admin/merchant') }}" class="">商户管理</a></li>
                            <li class=""><a href="{{ buildUrl('/admin/user') }}" class="">用户管理</a></li>
                            <li class="active"><a href="{{ buildUrl('/admin/commodity') }}" class="">商品管理</a></li>
                            <li class=""><a href="{{ buildUrl('/admin/update?id=' + current_user.Id) }}"
                                            class="">管理员信息</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}
{% block content %}
    <section class="pcoded-main-container">
        <div class="pcoded-wrapper">
            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                <h5>商品信息</h5>
                            </div>
                            <div class="card-block">
                                <form method="POST" class="upload_pic_wrap custom-file" id="form1"
                                      enctype="multipart/form-data"
                                      action="{{ buildUrl('/upload/edit') }}">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="form-label">商品名称</label>
                                                <input type="text" class="form-control wrap_shop_set" name="shopname"
                                                       placeholder="Name" value="{{ info.ShopName }}">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="form-label">商家选择</label>
                                                <select class="form-control wrap_shop_set" name="merchant">
                                                    <option value> 选择商家...</option>
                                                    {% for item in merchants %}
                                                        <option value="{{ item.Id }}"
                                                                {% if item.Id == info.ShopMerchantId %}
                                                                selected {% endif %}>{{ item.Name }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="form-label">商品描述</label>
                                                <textarea class="form-control"
                                                          name="shopdesc">{{ info.ShopDesc }}</textarea>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="form-label">图标上传</label>
                                                <div>
                                                    <input type="file"
                                                           accept="image/png, image/jpeg, image/jpg,image/gif"
                                                           name="pic" class="validation-file">
                                                    {% if info and info.ShopImageUrl %}
                                                        <span class="pic-each">
                                                        <img src="{{ buildImageUrl( info.ShopImageUrl ) }}"/>
                                                        </span>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="form-label wrap_shop_set">商品售价</label>
                                                <input type="number" class="form-control" name="price"
                                                       value="{{ info.ShopPrice }}">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="form-label wrap_shop_set">商品底价</label>
                                                <input type="number" class="form-control" name="floorprice"
                                                       value="{{ info.ShopFloorPrice }}">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="form-label wrap_shop_set">商品库存</label>
                                                <input type="number" class="form-control" name="stock"
                                                       value="{{ info.Stock }}">
                                            </div>
                                        </div>
                                    </div>
                                    <input type="hidden" class="wrap_shop_set" name="id" value="{{ info.Id }}">
                                    <input type="hidden" class="wrap_shop_set" name="ShopImageUrl"
                                           value="{{ info.ShopImageUrl }}">
                                    <button type="submit" class="btn btn-primary">提交</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block js %}
    <script>
    </script>
{% endblock %}