{% extends 'common/layout_main.html' %}

{% block pcoded %}
    <nav class="pcoded-navbar">
        <div class="navbar-wrapper">
            <div class="navbar-brand header-logo">
                <a href="index.html" class="b-brand">
                    <span class="b-title">后台管理系统</span>
                </a>
                <a class="mobile-menu" id="mobile-collapse" href="javascript:"><span></span></a>
            </div>
            <div class="navbar-content scroll-div">
                <ul class="nav pcoded-inner-navbar">
                    <li class="nav-item pcoded-menu-caption">
                        <label>管理员</label>
                    </li>
                    <li data-username="dashboard Default Ecommerce CRM Analytics Crypto Project"
                        class="nav-item pcoded-hasmenu active pcoded-trigger">
                        <a href="javascript:" class="nav-link"><span class="pcoded-micon"><i
                                class="feather icon-home"></i></span><span class="pcoded-mtext">管理员操作</span></a>
                        <ul class="pcoded-submenu">
                            <li class="active"><a href="{{ buildUrl('/admin/merchant') }}" class="">商户管理</a></li>
                            <li class=""><a href="{{ buildUrl('/admin/user') }}" class="">用户管理</a></li>
                            <li class=""><a href="{{ buildUrl('/admin/commodity') }}" class="">商品管理</a></li>
                            <li class=""><a href="{{ buildUrl('/admin/report') }}" class="">报表统计</a></li>
                            <li class=""><a href="{{ buildUrl('/admin/update?id=' + current_user.Id) }}" class="">管理员信息</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}
{% block content %}
    <div class="pcoded-main-container">
        <div class="pcoded-wrapper">
            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <!-- [ breadcrumb ] start -->
                    <div class="page-header">
                        <div class="page-block">
                            <div class="row align-items-center">
                                <div class="col-md-12">
                                    <div class="page-header-title">
                                        <h5 class="m-b-10">管理员</h5>
                                    </div>
                                    <ul class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="index.html"><i
                                                class="feather icon-home"></i></a></li>
                                        <li class="breadcrumb-item"><a href="javascript:">管理员操作</a></li>
                                        <li class="breadcrumb-item"><a href="javascript:">商户管理</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- [ breadcrumb ] end -->
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="card">
                                        <div class="card-block">
                                            <button type="button" onclick="addAdmin()" class="btn btn-glow-primary btn-primary">
                                                添加管理员账号
                                            </button>
                                        </div>

                                        <div class="card-block">
                                            <div class="table-responsive">
                                                <table id="zero-configuration" class="display table nowrap table-striped table-hover" style="width:100%">
                                                    <thead>
                                                    <tr>
                                                        <th>#</th>
                                                        <th>商户名称</th>
                                                        <th>商户地址</th>
                                                        <th>商户图片</th>
                                                        <th>联系方式</th>
                                                        <th>申请时间</th>
                                                        <th>状态</th>
                                                        <th>操作</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    {% if list %}
                                                        {% for item in list %}
                                                            <tr>
                                                                <th scope="row">{{ item.Id }}</th>
                                                                <td>{{ item.Name }}</td>
                                                                <td>{{ item.Address }}</td>
                                                                <td>
                                                                    <span class="pic-each">
                                                                        <img src="{{  item.ImageUrl  }}"/>
                                                                    </span>
                                                                </td>
                                                                <td>{{ item.Phone }}</td>
                                                                <td>{{ item.CreateTime }}</td>
                                                                <td>{{ item.Status_Desc }}</td>
                                                                <td>
{#                                                                    <a href="{{ buildUrl('/admin/info' ) }}?id={{ item.Id }}">#}
{#                                                                        <i class="fa fa-eye fa-lg"></i>#}
{#                                                                    </a>&nbsp;#}
                                                                    {% if item.Status == 0 %}
                                                                        <a onclick="updateStatus({{ item.Id }}, 1)">
                                                                         <i class="fa fa-check fa-lg"></i>
                                                                        </a>&nbsp;
                                                                        {% else %}
                                                                        <a onclick="updateStatus({{ item.Id }}, 0)">
                                                                         <i class="fa fa-minus fa-lg"></i>
                                                                        </a>
                                                                    {% endif %}
                                                                </td>
                                                            </tr>
                                                        {% endfor %}
                                                    {% else %}
                                                    <tr>
                                                        <td colspan="7">暂无数据~</td>
                                                    </tr>
                                                    {% endif %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="{{ buildStaticUrl('assets/plugins/data-tables/js/datatables.min.js') }}"></script>
    <script src="{{ buildStaticUrl('assets/js/pages/tbl-datatable-custom.js') }}"></script>
    <script src="{{ buildStaticUrl('js/common.js') }}"></script>

    <script>
    function addAdmin() {
        window.location.href = common_ops.buildUrl('/admin/add')
    }

    function updateStatus(id, status) {
                $.ajax({
                url: common_ops.buildUrl("/admin/merchant/edit"),
                type: 'POST',
                data: {'id': id, 'status': status},
                dataType: 'json',
                success: function (res) {
                    alert(res.msg);
                    if (res.code == 200) {
                        window.location.href = common_ops.buildUrl("/admin/merchant");
                    }
                }
            });
    }
    </script>
{% endblock %}