{% extends 'common/layout_main.html' %}
{% block css %}
    <link rel="stylesheet" href="{{ buildStaticUrl("assets/plugins/modal-window-effects/css/md-modal.css") }}">
    <link rel="stylesheet" href="{{ buildStaticUrl("assets/plugins/data-tables/css/datatables.min.css") }}">
{% endblock %}
{% block pcoded %}
    <nav class="pcoded-navbar">
        <div class="navbar-wrapper">
            <div class="navbar-brand header-logo">
                <a href="index.html" class="b-brand">
                    <span class="b-title">后台管理系统</span>
                </a>
                <a class="mobile-menu" id="mobile-collapse" href="javascript:"><span></span></a>
            </div>
            <div class="navbar-content scroll-div">
                <ul class="nav pcoded-inner-navbar">
                    <li class="nav-item pcoded-menu-caption">
                        <label>管理员</label>
                    </li>
                    <li data-username="dashboard Default Ecommerce CRM Analytics Crypto Project"
                        class="nav-item pcoded-hasmenu active pcoded-trigger">
                        <a href="javascript:" class="nav-link"><span class="pcoded-micon"><i
                                class="feather icon-home"></i></span><span class="pcoded-mtext">管理员操作</span></a>
                        <ul class="pcoded-submenu">
                            <li class=""><a href="{{ buildUrl('/') }}" class="">报表统计</a></li>
                            <li class=""><a href="{{ buildUrl('/admin/merchant') }}" class="">商户管理</a></li>
                            <li class=""><a href="{{ buildUrl('/admin/user') }}" class="">用户管理</a></li>
                            <li class=""><a href="{{ buildUrl('/admin/commodity') }}" class="">商品管理</a></li>
                            <li class=""><a href="{{ buildUrl('/admin/update?id=' + current_user.Id) }}"
                                            class="">管理员信息</a></li>
                            <li class="active"><a href="{{ buildUrl('/admin/receipt') }}" class="">提现管理</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}
{% block content %}
    <section class="pcoded-main-container">
        <div class="pcoded-wrapper">
            <div class="pcoded-content">
                <!-- [ breadcrumb ] start -->
                <div class="page-header">
                    <div class="page-block">
                        <div class="row align-items-center">
                            <div class="col-md-12">
                                <div class="page-header-title">
                                    <h5 class="m-b-10">管理员</h5>
                                </div>
                                <ul class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="index.html"><i
                                            class="feather icon-home"></i></a></li>
                                    <li class="breadcrumb-item"><a href="javascript:">管理员操作</a></li>
                                    <li class="breadcrumb-item"><a href="javascript:">提现管理 - 商户总览</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- [ breadcrumb ] end -->
                <div class="pcoded-inner-content">
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="card">
                                        <div class="card-block">
                                            <div class="table-responsive">
                                                <table id="responsive-configuration"
                                                       class="display table nowrap table-striped table-hover"
                                                       style="width:100%">
                                                    <thead>
                                                    <tr>
                                                        <th>#</th>
                                                        <th>名称</th>
                                                        <th>金额</th>
                                                        <th>余额</th>
                                                        <th>状态</th>
                                                        <th>操作记录</th>
                                                        <th>创建时间</th>
                                                        <th>修改时间</th>
                                                        <th>确认付款</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    {% if list %}
                                                        {% for item in list %}
                                                            <tr>
                                                                <th scope="row">{{ item.id }}</th>
                                                                <td>{{ item.merchant_name }}</td>
                                                                <td>{{ item.balance }}</td>
                                                                <td>{{ item.total_balance }}</td>
                                                                <td>{{ item.status_Desc }}</td>
                                                                <td>{{ item.operating_Desc }}</td>
                                                                <td>{{ item.createtime }}</td>
                                                                <td>{{ item.updatetime }}</td>

                                                                <td>
                                                                    {% if item.status == '4' and item.operating == '4' %}
                                                                        <button class="btn btn-primary md-trigger"
                                                                                data-modal="model-{{ item.id }}">付款
                                                                        </button>
                                                                        <div class="md-modal md-effect-1"
                                                                             id="model-{{ item.id }}">
                                                                            <div class="md-content"
                                                                                 style="text-align: center">
                                                                                <h3 class="theme-bg2">付款</h3>
                                                                                <div>
                                                                                    <p>请确认金额已支付后再点击审核通过！</p>
                                                                                    <img alt="image" class="img-circle"
                                                                                         src="{{ item.receipt_qrcode }}"
                                                                                         style="width: 260px;height: 330px;">
                                                                                </div>
                                                                                <div class="col-sm-12"
                                                                                     style="display: inline-flex">
                                                                                    <button class="btn btn-rounded md-close">
                                                                                        取消审核
                                                                                    </button>
                                                                                    <button class="btn btn-success md-close"
                                                                                            onclick="submitBalance({{ item.id }})">
                                                                                        审核通过
                                                                                    </button>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    {% endif %}
                                                                </td>
                                                            </tr>
                                                        {% endfor %}
                                                    {% else %}
                                                        <tr>
                                                            <td colspan="9">暂无数据~</td>
                                                        </tr>
                                                    {% endif %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block js %}
    <script src="{{ buildStaticUrl("assets/plugins/modal-window-effects/js/classie.js") }}"></script>
    <script src="{{ buildStaticUrl("assets/plugins/modal-window-effects/js/modalEffects.js") }}"></script>
    <script src="{{ buildStaticUrl('assets/plugins/data-tables/js/datatables.min.js') }}"></script>
    <script src="{{ buildStaticUrl('assets/js/pages/tbl-datatable-custom.js') }}"></script>
    <script src="{{ buildStaticUrl('js/common.js') }}"></script>
    <script>
        function submitBalance(id) {
            $.ajax({
                url: common_ops.buildUrl("/admin/receipt/edit"),
                type: 'POST',
                data: {'id': id},
                dataType: 'json',
                success: function (res) {
                    alert(res.msg);
                    if (res.code == 200) {
                        window.location.href = common_ops.buildUrl("/admin/receipt");
                    }
                }
            });
        }
    </script>
{% endblock %}